# Python files
*.pyc
__pycache__/
.venv/
*.egg-info/

# Image files
*.jp*g
*.png

# Layout and config files
layout.json
.vscode/

# PDF and DOCX files (user documents)
*.pdf
*.docx
!demo*.pdf
*coverage*

# Working directories
input-pdfs/
output-docx/

# Test outputs
test/issues/
test/features/
test/outputs/

# Building artifacts
build/
dist/
pdf2docx*.rst
